*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--cream-bg, #F2EAE2);
  font-family: sans-serif;
}
.card {
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 25px;
  margin-top: 100px;
  background-color: #FFF;
  border-radius: 10px;
}
.card__img-wrapper .card__img{
  width: 337.694px;
  height: 450px;
  flex-shrink: 0;
  border-radius:10px;
}
.card__content{
  /* padding-right: 32px; */
}
.card__content__label {
  color: var(--Aurometal-Saurus, #6C7289);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Overline */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  margin-top: 32px;
  margin-bottom: 20px;
}
.card__content__title {
  color: var(--Gunmetal, #1C232B);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Display */
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  margin-bottom: 24px;
}
.card__content__description {
  color: var(--Aurometal-Saurus, #6C7289);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Body */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 164.286% */
}
.card__content__prices {
  display: flex;
  margin-top: 29px;
  gap: 19px;
  align-items: center;
}
.card__content__price-big {
  color: var(--Deep-Aquamarine, #3D8168);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Display */
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
}
.card__content__price-mini {
  color: var(--Aurometal-Saurus, #6C7289);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 176.923% */
  text-decoration: line-through;
}
.card__content__btn {
  background-color: #3D8168;
  width: 236px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 15px 63px;
  display: inline-flex;
  padding-bottom: 1px;
  justify-content: center;
  align-items: flex-start;
  gap: 11.615px;
  margin-top: 30px;
}
.card__content__btn span{
  color: var(--Pure-White, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Button Text */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width:343px){
  .card{
    max-width: 343px;
    width: 100%;
    flex-direction: column;
  }
  .card__img{
    width: 100%;
    object-position: top;
    border-radius: 0;
  }
  .card__content{
    padding: 24px;
  }
  .card__content__label{
    margin-bottom: 12px;
  }
  .card__content__title{
    margin-bottom: 16px;
  }
  .card__content__description{
    margin-bottom: 24px;
  }
}